/* ------ SPRITES IMAGES ------ */

.imgPartes01,
.imgPartes02 {
  /* border: 1px solid black; */
  width: 300px;
  height: 200px;
  background-image: url(../../images/nove_pratos.jpg);
  background-size: 280%;
}

.imgPartes01 {
  background-position: -270px -25px;
}

.imgPartes02 {
  background-position: -540px -290px;
}

.imgModelo {
  width: 50%;
  margin: 20px 0;
}

.imgModelo img {
  width: 100%;
}